
#nav {}
#header, #nav, #footer{ clear:both; overflow:hidden!important; overflow:none;}
#header, #nav, #content, .contentdesk, #footer{ min-width:1002px; margin:0px auto;width:expression(((document.documentElement.clientWidth || document.body.clientWidth) <1002) ? "1002px" : "auto"); }
#content, .contentdesk{ overflow:hidden!important; overflow:hidden; }
#leftPanel{float: left;}
#main{ >float:left;text-align:left; background-image:url(images/inc.gif); background-position:left; background-repeat:repeat-y; margin:0px 0px 0px 132px; >margin:0px 0px 0px 0px;padding:8px 0 12px 0px; padding:/*\**/8px 0px 12px 18px\9; }
/* easy clearing */
#content:after, .contentdesk:after{ content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; clear: both; visibility: hidden; }
#content, .contentdesk{display: inline-block;}
/*\*/
#content, .contentdesk{display: block;}
/* end easy clearing */
/*\*/
#leftPanel, #main, .contentdesk #main{padding-bottom: 32767px !important;margin-bottom: -32767px !important;}
@media all and (min-width: 0px) {
#leftPanel, #main, .contentdesk #main
	{padding-bottom:inherit !important;margin-bottom:inherit !important;}
#leftPanel:before, #main:before, .contentdesk #main:before
	{ content: '[DO NOT LEAVE IT IS NOT REAL]';display: block;background: inherit;padding-top: 32767px !important;margin-bottom: -32767px !important;height: 0;}
}
/**/
#rightPanel {float:right; width:180px; overflow:hidden; height:auto;}
#footer {padding: 10px 0px;}
/*---- LAYOUT  desk  ----*/
.contentdesk{ }
.contentdesk #main{  >float:left;text-align:left; background-image:url(images/inc.gif); background-position:left; background-repeat:repeat-y; margin:0px 0px 0px 219px; >margin:0px 0px 0px 0px;  padding:8px 0px 0px 0px;  padding:/*\**/8px 0px 0px 17px\9;display:block; }
@media screen and (-webkit-min-device-pixel-ratio:0){.contentdesk #main { text-align:left; background-color:#fff; background-image: url(images/inc.gif); background-repeat:repeat-y; background-position:left; margin:0px 0px 0px 219px;   padding:8px 0px 0px 17px;}
} 
/*---- LOGIN ----*/
body#login{ text-align:center; margin:0 auto; padding-top:100px;}
body#login div{ margin:0 auto;}
body#login #header{ background:transparent url(images/top.gif) repeat-x scroll 0 0;height:71px; padding:5px auto auto 12px; display:inline;}
body#login #content, body#login #nav, body#login #content{ padding:0px; margin:0px; background:none;overflow:hidden; border:none;}
body#login #content #nav{ display:none;}
body#login fieldset { border:none; padding:0px; margin:0px; }
#page { background:url(images/login-bg.jpg) no-repeat; height:362px; width:1002px; overflow:hidden;}
#page #main{ width:1002px; background-image:none;text-align:left;}
#page #main h1{ display:none;}
#page #main p{ clear:both;margin-left:450px;margin-left:/*\**/430px\9;#margin-left:420px; padding-top:15px;#padding-top:3px; }
#page #main p a{ color:#F00;}
#page ul.left{ height:210px;margin-left:365px;*margin-left:350px;_margin-left:180px; margin-top:106px;  color:#5a5a5a; clear:both; display:block; }
#page ul.left li{ display:block; clear:both;}
#page .dis_bl{ float:left; width:150px; text-align:right;}
#page input{ background:url(images/login-text.jpg) no-repeat; width:152px; height:24px; border:none;}
#page input.tiny{background:url(images/login-text-tiny.jpg) no-repeat; width:71px; height:24px;}
#page .checkbox{ background:none; width:auto; height:auto; margin-left:156px; vertical-align:bottom;}
#page .choice{}
#page input.button{background:url(images/login-but.jpg) no-repeat; width:113px; height:25px; margin-left:156px; margin-top:20px; font-weight:bold; letter-spacing:5px; }
#page li.error{ margin:0px; margin-bottom:5px; background-color:transparent;}

