
body {margin: 0;padding: 0;text-align: center;}
/* HEADER */
div#header {height:71px;background:url(images/top.gif) repeat-x;}
div#switchLocale {position: absolute;right: 10px;}
div#branding {float: left;width: 50%;margin: 0;padding: 10px 0 10px 30px;text-align: left;}
div#search {float: right;width: 49%;margin: 0;padding: 40px 40px 0 0;text-align: right;}
/* END HEADER */ /* CONTENT */
div#content {}
body#error #content {margin-top: 0px;}
body#error #page{ width:90%; margin-top:40px;}
body#error #page .fb{ font-size:14px;}
/* MAIN */
div#main form ul li {list-style-type: none;margin-left: 0;}
h1:empty{ margin-left:18px;  !important;} 
h1 {height:22px;border-bottom:2px solid #676767;padding-left:15px; font-size:13px; margin-bottom:5px; overflow:hidden; #width:97.8%; margin-left:18px; margin-left:/*\**/0px\9;}

h1 #A{ background-position: -324px -50px; }
h1 #B {display:block;background-color:#676767;color:#fff;text-align:center;font-weight:700;float:left;overflow:hidden;padding:6px 10px 3px;}
h1 #C{ background-position: -335px -50px; }
h1 #D{display:block;float:left;margin-left:10px;padding-top:5px;font-weight:400;color:#676767; }
.companyInformation{ font-weight:normal; text-align:center; font-size:12px;margin-left:15px; #margin-left:20px; margin-top:5px; display:block; width:auto; height:10px;}
.companyInformation span{ margin-right:5px; color:#666; display:inline-block; }
.companyInformation .company{ color:#F36704;margin-top:0px; #margin-top:3px; margin-left:145px;}
.companyInformation .time{ margin-left:15px; color:#F36704;}
.companyInformation .fb{ font-weight:normal;}
.mainContent h1{ margin-top:10px; text-align:center;}
.mainContent h1 #A, .mainContent h1 #B, .mainContent h1 #C{ background:none; color:#676767; clear:none; float:none; display:inline;}
h1 #A, h1 #C{  display:block;
float:left; background-image:url(images/work.gif); background-repeat:no-repeat; width:6px; height:22px;}
#main h2{height:15px; font-size:12px; text-align:left;border-bottom:1px solid red;padding-left:3px; padding-top:8px;margin-left:30px;margin-left:/*\**/15px\9;line-height:15px; margin-bottom:0px;ertical-align:bottom; color:#222222; display:black; width:95.9%; width:/*\**/97.5%\9;  overflow:hidden;  }
#main h2 a{  display:block; float:right; font-weight:normal; color:#666; text-decoration:underline;}
#main h2 a, x:-moz-any-link, x:default {  margin-top:-15px;}
*+html #main h2 a{ margin-top:0px;}
#main h2 a{ *margin-top:-15px;}
#main h2 a:hover{ text-decoration:none; color:#000;}
#main h2 input{ float:right; margin-top:-10px;margin-top:/*\**/-25px\7;}
#main h2.title{ padding-top:10px; height:auto;}
/* SUB */
div#sub h2 {margin-bottom: 5px;}
div#sub ul li {padding-bottom: 10px;}
div#sub p.line {border-top: 1px dotted #ccc;margin: 15px 0;}
/* FOOTER */
div#footer {height:!important;overflow:hidden; text-align:left;border-top:2px solid #ddd;padding-top:8px;margin:3px 0px 0px; clear:both; }
div#footer span{}
div#footer .right{ display:inline; clear:right; float:left; }
/*--------new  page----------*/  
.context .main_content{ margin:0;}
.main_content{ width:768px; margin:20px auto;}
.main_content input.medium{ width:175px!important; width:175px;}
.main_content .info ul { text-align:left;  display:block; margin:0px;  padding:0px; padding-bottom:8px; width:100%!important; width:99.6%;}
.form p { padding:0px 10px 0px;}
.main_content .info ul li{ padding:0px; margin:0px; display:block; >clear:both;}
.main_content .info ul li div{display:inline-table; *display:inline; _display:inline; }
.main_content .info ul li .left{ width:330px;}
.main_content .info ul li .leftSmall{   >float:left; overflow:hidden; padding:0px; margin:0px;}
.main_content .info ul li .textRight .desc{ width:20px; padding:0px; margin:0px;}
.main_content .info ul .desc{  font-size:13px;  padding:2px 0 2px 12px;   color:#222222;}
.main_content .info ul li input.tiny{  width:175px;}
.main_content .info ul li input.large{ width:505px;}
.main_content .info ul li textarea.large{ width:501px;}
.main_content .info ul li input.large, .form li textarea.large, .form li ul textarea.medium{ border:1px solid #dddddd;}
.main_content .info ul li ul{ padding:8px 0px;display:block; margin:8px;}
.main_content .info ul li ul h3{ margin-left:8px;}
.main_content .info ul li ul textarea.medium{ width:500px; }
.main_content .info ul a{  text-decoration:underline;}
.main_content .info ul a:hover{ color:#fff; text-decoration:none;}
.main_content .info ul .checkboxbar{ margin-left:97px; margin-bottom:2px;}
.main_content .info ul li .left .errorMessage{ display:block; >margin-left:98px; }
.main_content .info ul li div .errorMessage{ display:block; margin-left:0px; *margin-left:402px;_margin-left:410px; }
.main_content .info ul li[class=right]{ margin-bottom:8px; *margin-bottom:0px; height:25px; display:block; overflow:auto; clear:both; text-align:right; }
.main_content .info ul .right a{ text-decoration:underline; margin-right:10px;}
.main_content .info ul .right a:hover{ text-decoration:none; color:#fff; margin-right:10px;}
.main_content .info .buttonbar{ display:block; text-align:center; width:90%;  padding-top:6px; float:left;}
.main_content .info .buttonbar div{ float:none;}
/*-------------*/
.mainContent{clear:both; overflow:hidden!important; overflow:none;min-width:1002px; margin:0px auto;width:expression(((document.documentElement.clientWidth || document.body.clientWidth) <1002) ? "1002px" : "auto"); }
.mainContent img{/* float:left;*/ margin-left:15px; display:block; clear:both;}
/*-------------- guidebook  -------------------*/
.guidebook{ width:620px; text-align:left; line-height:20px; background:url(images/guidebook.gif) right bottom no-repeat; height:auto; overflow:hidden;}
.popFrameGuide{ width:620px; padding:0px; margin-top:-30px; #margin-top:-10px; position:relative; z-index:3000; }
.guidebook h1{ width:100%; font-size:14px; color:#ff7c1b; border-bottom:none; clear:both; text-align:center; margin-top:40px;#margin-top:10px; margin-bottom:18px; #margin-bottom:14px; padding-left:0px;}
.guidebook ul li{ color:#666;  display:block; background:url(images/inc2.gif) no-repeat; padding-left:20px;}
.guidebook ul li ul{ margin-top:0;}
.guidebook ul li ul li{ background:none; font-weight:bold; padding-left:0px;  font-size:14px;}
.guidebook .left{ margin-left:90px!important; margin-left:50px; margin-right:40px; margin-bottom:10px;}
.guidebook div{ margin-top:0px!important;}
.guidebook a.new{ display:block; margin-left:-22px; padding-left:24px; color:#666;}
.mm .gettingstart-tips{ margin-top:0;}
.gettingstart-tips{ border-top:1px solid #ddd; padding-top:20px; #padding-top:8px; position:relative; z-index:10000000; }
.gettingstart-tips li{ background:none; float:left;  width:100%;}
.gettingstart-tips .left{ margin-bottom:0px; margin-left:0px;}
.guidebook a{ color:#333; text-decoration:underline;}
.guidebook a:hover{ color:#ff7c1b; text-decoration:none;}
.guidebook h2{ position:relative; z-index:2000;color:#ff7c1b; margin-top:30px; #margin-top:0px; width:100%; font-size:14px; border-bottom:none; clear:both; text-align:left; margin-bottom:8px; #margin-bottom:8px; padding-left:0px;}
.guidebook h2 span{ float:right; font-size:12px; font-weight:normal;}
.guidebook h2 span a{ background-color:#ff7c1b; color:#fff; margin-right:3px; text-decoration:none;}
.guidebook h2 span a:hover{ color:#fff; background-color:#c8c8c8;}
.guidebook h2 span a.current{ color:#fff; background-color:#676767;}
.guidebook h2 span a.home{ background-color:#FFF; text-decoration:underline; color:#ff7c1b;}
.guidebook h2 span a.home:hover{ text-decoration:none;}
.guidebook h3{  padding-top:5px; font-weight:bold; margin-bottom:-1px;}
.guidebook h4{ font-weight:normal; color:#666; margin-top:10px; margin-left:15px; font-size:12px; width:96%!important;}