/*#header, #nav, #sub, #sub h2, #footer, #local, #main h1, #content h1, #leftPanel, .flash_href {display: none;}*/
#content, #header, #footer, #nav{ width:980px; overflow:hidden; margin:0px; padding:0px; background:none;}
#header, #nav, #footer, #leftPanel, #case_sub_list2 { display:none;}
#main, #content #main{ float:none; margin-left:0px; }
/*#main{ width:769pt}
#leftPanel{ width:215pt;}*/
body{ font-family:Arial, Helvetica, sans-serif; font-size:11pt; color:#000; margin:0px; padding:0px;}

h4 .tablePrePageInfo{ float:none;}
#nav .left{ float:none; padding:0px; margin:0px;}
#nav .right input.small{ width:80px;}
#topMenu, #nav .desk, #nav .tab{ float:none;}
#nav li, #nav li a, #nav li a:hover{ width:auto; color:#000; margin-right:4px;}
a{ width:auto; color:#000; }
a:hover{ width:auto; color:#000;}

.menu0{}
.menu0 li{ clear:both; display:block;}
.menu0 h4 .title{ display:block; color:#000;}
.tabledesk{display:table-header-group; border-left:#ddd 1px solid; border-top:#ddd 1px solid;}
.tabledesk th{ background-color:#bcbcbc; border-right:#ddd 1px solid; border-top:#ddd 1px solid; border-bottom:1px solid #ddd;}
.tabledesk .odd, .tabledesk .even{ background:none;}
.tabledesk .odd td, .tabledesk .old td, .tabledesk .even td{ background:#fff; border-top:#ddd 1px solid; border-right:#ddd 1px solid; border-bottom:1px solid #ddd;}
.Block .left, .Block .right { float:none; clear:both;
	 height:100%!important; height:auto;margin:0px; padding:0px;
}