@charset "utf-8";
* {	margin: 0px;padding: 0px;}
body{ width:1004px; margin:0 auto; font:12px/25px "宋体"; background-image: url(../images/bg__01.png); background-repeat:repeat-x;}
li{ list-style-type:none;}
a{ text-decoration:none; color:#FFF;}
a:hover{ text-decoration:underline;}
.main{ background-image:url(../images/bg_01.jpg); background-repeat:no-repeat; background-position:0 0; height:600px;}
.main ul{ padding-top:270px; width:300px;}
.main li{width:310px;margin-left:620px; color:#25729e; padding-top:6px;_padding-top:8px;}
.main p{ margin-left:690px; margin-top:10px;}