<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd"
	default-lazy-init="true">


	<bean class="org.sz.core.util.SpringContextHolder" lazy-init="false" />


	<!-- Configure Velocity for sending e-mail -->
	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<props>
				<prop key="resource.loader">class</prop>
				<prop key="class.resource.loader.class">
					org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
				</prop>
				<prop key="velocimacro.library"></prop>
			</props>
		</property>
	</bean>


	<!-- 文件模版引擎配置 -->
	<bean id="freemarkerConfiguration"
		class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
		<property name="templateLoaderPath" value="classpath:template/" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<!-- 字符串模版引擎配置。 <bean id="freemarkerConfigurationString" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean"> 
		<property name="preTemplateLoaders" > <list> <ref bean="templateLoader"/> 
		</list> </property> <property name="defaultEncoding" value="UTF-8"/> </bean> -->
	<bean id="templateLoader" class="freemarker.cache.StringTemplateLoader"></bean>
	<!-- freemaker引擎 -->

	<bean id="freemarkEngine" class="org.sz.core.engine.FreemarkEngine">
		<property name="configuration" ref="freemarkerConfiguration" />

	</bean>

	<bean id="groovyEngine" class="org.sz.core.engine.GroovyScriptEngine">

	</bean>

	<!-- 邮件发送引擎 -->
	<bean id="mailEngine" class="org.sz.core.engine.MailEngine">
		<property name="freemarkEngine" ref="freemarkEngine" />
		<property name="mailSender" ref="mailSender" />
		<property name="defaultFrom" value="${mail.from}" />
	</bean>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mail.host}" />
		<property name="username" value="${mail.username}" />
		<property name="password" value="${mail.password}" />
		<property name="defaultEncoding" value="${mail.defaultEncoding}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
			</props>
		</property>
	</bean>

	<!-- 邮件/短信发送引擎 -->
	<bean id="messageEngine" class="org.sz.core.engine.MessageEngine">
		<property name="mailSender" ref="mailSender" />
		<property name="shortMessage" ref="sms"></property>
		<property name="fromUser" value="${mail.from}" />
	</bean>


	<!-- 缓存操作类，如果需要修改缓存的实现，修改实现的class就可以了，id不要修改。 -->
	<bean id="iCache" class="org.sz.core.cache.impl.MemoryCache"></bean>

</beans>
